@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

label {
  font-size: 20px;
  color: #99BC85;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #FDFAF6;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #FFF;
  padding: 32px 48px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 0.1);
}

.container > h1 {
  margin-bottom: 20px;
  color: #99BC85;
}

.container > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container div {
  display: flex;
  flex-direction: column;
}

.container input {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid #99BC85;
  background-color: #E4EFE7;
}

.container input::placeholder {
  font-size: 12px;
  font-style: italic;
  color: #99BC85;
}

button {
  background-color: #99BC85;
  border: none;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: #7FA766;
}
